node_modules/
dist/
frontend/dist/
.env
*.env
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
.chroma/
database/
**/database/
vector_db/
**/vector_db/
*.db
**/*.db
.venv/
**/ttsService_backup2.ts
backend/.env
.env